body {
    margin: 0px ;
    text-align: center;
    font-family: 'merriweather', serif;

}
h1 {
    margin-top: 0px ;
    font-family: 'Sacramento', cursive;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}
h3 {
    font-family: 'Montserrat', sans-serif;
}

.topDiv {
    background-color: #e0ece4;
    position: relative;
    padding-top: 50px;

}

.midDiv {
    background-color: #8fc0a9;
    
}

.botDiv {
    background-color: #68b0ab;
    
}

.coder {
    text-decoration: underline;
}

.topCloud {
    position: absolute;
    right: 300px;
    top: 50px;
    
}

.botCloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}