body {
    margin: 0px ;
    text-align: center;
}
h1 {
    width: 20% ;
    margin: 0 auto 0 auto;
}

.topDiv {
    background-color: #e0ece4;
}

.midDiv {
    background-color: #8fc0a9;
    width: 200px;
    height: 200px;
    display: inline-block;
    position: relative;
    left: 410px ;
    bottom: 0px;
}

.botDiv {
    background-color: #68b0ab;
    width: 200px;
    height: 200px;
    /*position: relative;
    left: 200px ;
    bottom: 200px;*/
    display: inline-block;
}

.coder {
    text-decoration: underline;
}