body {
    margin: 0px ;
    text-align: center;
    font-family: 'merriweather', serif;

}
h1 {
    font-size: 5.262rem;
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: 'Sacramento', 'cursive';
    color: #389393;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

.line2 {
    margin-top: 0px;
    font-size: 2rem;
    color:#389393
}

.topDiv {
    background-color: #e0ece4;
    position: relative;
    padding-top: 30px;

}

.border-style {
    border-style: solid;
    border-bottom: none;
    width:65%;
    margin-top: 0px;
    margin-bottom: 35px;
}

.Div2 {
    background-color: whitesmoke;
}

.profile {
    padding: 20px;
}

.pro-img {
    height: 200px;
    padding-top: 20px;
}

.skills {
    background-color: whitesmoke;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    
}

.software-img {
    height: 200px;
}
.contact-me {
    background-color: #e0ece4;
    
}

.bottom-container {
    background-color: #e0ece4;
    padding-bottom: 20px;
}

.coder {
    margin-top: 0px;
    font-size: 2rem;
    text-decoration: underline;
    color:#389393
}


.touch {
    color:#389393
}

.btn {
    color:#389393 
}

.footer-link {
    color:#389393; 
    font-family: 'Montserrat', sans-serif;
    margin: 30px 5px;
    
    text-decoration: none;
    
}

a:hover {
    color: #FFFFFF;
}


.grey {
    color: #373a40
}

.copyright {
    color: #373a40;
    font-size: 0.75rem;
    
}

.icon-ref {
    color: #373a40;
    font-size: 0.75rem;
    margin-top: 15px;
}

.freepik {
    color:#389393; 
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.BUTTON_GIR {
    background: #68B0AB;
    background-image: -webkit-linear-gradient(top, #68B0AB, #389393);
    background-image: -moz-linear-gradient(top, #68B0AB, #389393);
    background-image: -ms-linear-gradient(top, #68B0AB, #389393);
    background-image: -o-linear-gradient(top, #68B0AB, #389393);
    background-image: -webkit-gradient(to bottom, #68B0AB, #389393);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 100;
    padding: 10px;
    -webkit-box-shadow: 1px 1px 10px 0 #41aea9;
    -moz-box-shadow: 1px 1px 10px 0 #41aea9;
    box-shadow: 1px 1px 10px 0 #41aea9;
    text-shadow: 1px 1px 10px #41aea9;
    border: solid #16697A 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-top: 8px;
 }
 
 .BUTTON_GIR:hover {
    border: solid #16697A 1px;
    background: #01C5C4;
    background-image: -webkit-linear-gradient(top, #01C5C4, #28ABB9);
    background-image: -moz-linear-gradient(top, #01C5C4, #28ABB9);
    background-image: -ms-linear-gradient(top, #01C5C4, #28ABB9);
    background-image: -o-linear-gradient(top, #01C5C4, #28ABB9);
    background-image: -webkit-gradient(to bottom, #01C5C4, #28ABB9);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    text-decoration: none;
 }